In [1]:
import numpy as np
import pandas as pd

In [2]:
df_hbo = pd.read_csv('hbo.csv')
df_claro = pd.read_csv('claro.csv')
df_sony = pd.read_csv('sony.csv')
df_netflix = pd.read_csv('netflix.csv')
df_flow = pd.read_csv('flow.csv')
df_amazon = pd.read_csv('amazon.csv')
df_on_video = pd.read_csv('on_video.csv')
df_fox = pd.read_csv('fox.csv')

In [3]:
df_hbo.head(2)

,Unnamed: 0,Unnamed: 0.1,id,title,title_original,genres,director,keywords,cast,genre_empty
0,0,0,1183,2 Fast 2 Furious: A todo gas 2,2 Fast 2 Furious,"['Acción', 'Crimen', 'Suspense']",['John Singleton'],"['miami', 'car race', 'sports car', 'los angel...","['Paul Walker', 'Tyrese Gibson', 'Eva Mendes',...",32
1,2,2,1457,21 gramos,21 Grams,"['Drama', 'Crimen', 'Suspense']",['Alejandro González Iñárritu'],"['life and death', 'loss of loved one', 'trans...","['Sean Penn', 'Naomi Watts', 'Benicio del Toro...",31

In [4]:
df_claro.head(2)

,Unnamed: 0,Unnamed: 0.1,id,title,title_original,genres,director,keywords,cast,genre_empty
0,0,0,44,500 dias juntos,(500) Days of Summer,"['Comedia', 'Drama', 'Romance']",['Marc Webb'],"['date', 'jealousy', 'fight', 'architect', 'ga...","['Joseph Gordon-Levitt', 'Zooey Deschanel', 'C...",31
1,2,2,49,Nuestros maravillosos aliados,*batteries not included,"['Comedia', 'Familia', 'Fantasía', 'Ciencia fi...",['Matthew Robbins'],"['extraterrestrial technology', 'alien life-fo...","['Hume Cronyn', 'Jessica Tandy', 'Frank McRae'...",53

In [5]:
print(len(df_hbo.index))
print(len(df_claro.index))
print(len(df_amazon.index))
print(len(df_netflix.index))
print(len(df_flow.index))
print(len(df_on_video.index))
print(len(df_sony.index))
print(len(df_fox.index))

140
1758
774
1611
374
314
56
241

In [6]:
# ===> Unimos los diferentes dataframes

frames = [df_hbo, df_claro, df_amazon, df_netflix, df_flow, df_on_video, df_sony, df_fox]

df = pd.concat(frames)

In [7]:
print(len(df.index))

5268

In [8]:
df = df.drop_duplicates(subset=['id'])

In [9]:
df = df.drop_duplicates(subset=['title_original'])

In [10]:
print(len(df.index)) # Pareciera que no se comparten tantas peliculas

4445

In [11]:
df['genres']=df['genres'].str.strip('[]').str.replace(' ','').str.replace("'",'')
df['genres']=df['genres'].str.split(',')

df['keywords']=df['keywords'].str.strip('[]').str.replace(' ','').str.replace("'",'')
df['keywords']=df['keywords'].str.split(',')

df['director']=df['director'].str.strip('[]').str.replace(' ','').str.replace("'",'')
df['director']=df['director'].str.split(',')

df['cast']=df['cast'].str.strip('[]').str.replace(' ','').str.replace("'",'')
df['cast']=df['cast'].str.split(',')

In [12]:
# ===> Vamos a crear el vector a partir de los datos en el array de una columna

# ===> Creamos la lista de valores unicos

def create_unique_list(dataframe, column):
    
    list_unique_items = []
    
    for index, row in dataframe.iterrows():
        list_items = row[column]
    
        for item in list_items:
            if item not in list_unique_items:
                list_unique_items.append(item)
            
    return list_unique_items

# ===> binary va iterar sobre los valores de un array y chequear que valores estan en la lista de valores unicos

def binary(list_items, list_unique_items):
    
    binaryList = []
    
    for item in list_unique_items:
        if item in list_items:
            binaryList.append(1)
        else:
            binaryList.append(0)
    
    return binaryList

# ===> create_vector nos va a devolver el dataframe con una nueva columna, que representa un vector binario del atributo
# ===> en cuestion (genero, cast, director, etc)

def create_vector(dataframe, column_name):
    
    unique_list = create_unique_list(dataframe, column_name)
    
    column_name_vector = column_name + '_bin'
    
    dataframe[column_name_vector] = dataframe[column_name].apply(lambda x: binary(x, unique_list))
    
    return dataframe

In [13]:
df = create_vector(df, 'keywords')
df.head(2)

,Unnamed: 0,Unnamed: 0.1,id,title,title_original,genres,director,keywords,cast,genre_empty,keywords_bin
0,0,0,1183,2 Fast 2 Furious: A todo gas 2,2 Fast 2 Furious,"[Acción, Crimen, Suspense]",[JohnSingleton],"[miami, carrace, sportscar, losangeles, car, a...","[PaulWalker, TyreseGibson, EvaMendes, ColeHaus...",32,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,2,2,1457,21 gramos,21 Grams,"[Drama, Crimen, Suspense]",[AlejandroGonzálezIñárritu],"[lifeanddeath, lossoflovedone, transplantation...","[SeanPenn, NaomiWatts, BeniciodelToro, DannyHu...",31,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [14]:
df = create_vector(df, 'genres')
df.head(2)

,Unnamed: 0,Unnamed: 0.1,id,title,title_original,genres,director,keywords,cast,genre_empty,keywords_bin,genres_bin
0,0,0,1183,2 Fast 2 Furious: A todo gas 2,2 Fast 2 Furious,"[Acción, Crimen, Suspense]",[JohnSingleton],"[miami, carrace, sportscar, losangeles, car, a...","[PaulWalker, TyreseGibson, EvaMendes, ColeHaus...",32,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,2,2,1457,21 gramos,21 Grams,"[Drama, Crimen, Suspense]",[AlejandroGonzálezIñárritu],"[lifeanddeath, lossoflovedone, transplantation...","[SeanPenn, NaomiWatts, BeniciodelToro, DannyHu...",31,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [15]:
df = create_vector(df, 'director')
df.head(2)

,Unnamed: 0,Unnamed: 0.1,id,title,title_original,genres,director,keywords,cast,genre_empty,keywords_bin,genres_bin,director_bin
0,0,0,1183,2 Fast 2 Furious: A todo gas 2,2 Fast 2 Furious,"[Acción, Crimen, Suspense]",[JohnSingleton],"[miami, carrace, sportscar, losangeles, car, a...","[PaulWalker, TyreseGibson, EvaMendes, ColeHaus...",32,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,2,2,1457,21 gramos,21 Grams,"[Drama, Crimen, Suspense]",[AlejandroGonzálezIñárritu],"[lifeanddeath, lossoflovedone, transplantation...","[SeanPenn, NaomiWatts, BeniciodelToro, DannyHu...",31,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [16]:
df = create_vector(df, 'cast')
df.head(2)

,Unnamed: 0,Unnamed: 0.1,id,title,title_original,genres,director,keywords,cast,genre_empty,keywords_bin,genres_bin,director_bin,cast_bin
0,0,0,1183,2 Fast 2 Furious: A todo gas 2,2 Fast 2 Furious,"[Acción, Crimen, Suspense]",[JohnSingleton],"[miami, carrace, sportscar, losangeles, car, a...","[PaulWalker, TyreseGibson, EvaMendes, ColeHaus...",32,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,2,2,1457,21 gramos,21 Grams,"[Drama, Crimen, Suspense]",[AlejandroGonzálezIñárritu],"[lifeanddeath, lossoflovedone, transplantation...","[SeanPenn, NaomiWatts, BeniciodelToro, DannyHu...",31,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ..."

In [17]:
# ===> Tenemos el dataframe con todas las peliculas. Vamos a crear una columna que sea una combinacion
# ===> de todos los bins del dataframe

df['combination_bin'] = df['genres_bin'] + df['cast_bin'] +  df['keywords_bin'] + df['director_bin']

In [18]:
# ===> Transformamos esa columna en numpy array de dos dimensiones, lo cual es necesario para poder utilizar esa info
# ===> como inputs de modelos de clustering

df_kmeans = np.vstack(df['combination_bin'])

In [19]:
# ===> Nuestro dataframe tiene 22443 dimensiones

print(len(df_kmeans[0]))

22359

In [ ]:
# ===> Vamos a usar SVD para reducir la dimensionalidad de nuestro dataframe
# ===> Otra opcion https://www.researchgate.net/post/Which_clustering_technique_is_most_suitable_for_high_dimensional_data_sets

from sklearn.decomposition import TruncatedSVD
svd = TruncatedSVD(50, random_state=0)
df_transformed = svd.fit_transform(df_kmeans)

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, calinski_harabaz_score

In [ ]:
kmeans_final = KMeans(n_clusters=25, random_state=0) 
kmeans_final.fit(df_transformed)
    
labels_final = kmeans_final.labels_

In [ ]:
 df['labels'] = labels_final

In [ ]:
print(df['labels'].unique())

In [ ]:
pd.DataFrame(df['labels'].value_counts())

In [ ]:
from sklearn.cluster import DBSCAN
from scipy.stats import itemfreq

# Los resultados no son buenos. Se arma un solo cluster enorme y muchos clausters chicos de no mas de 10 unidades

#epsilon_values = [1,2,3,4,5,6,7]

#min_samples_values = [3,6,9,12]

#for ep_value in epsilon_values:
    
#    for min_sample_value in min_samples_values:
        
        #clustering = DBSCAN(eps=ep_value, min_samples=min_sample_value).fit(df_transformed)
        #labels_final_dbscan = clustering.labels_
        #print("epsilon_value=", ep_value)
        #print("min_sample_value=", min_sample_value)
        #print(itemfreq(labels_final_dbscan))

In [ ]:
#df['labels_dbscan'] = labels_final_dbscan

In [ ]:
#pd.DataFrame(df['labels_dbscan'].value_counts())

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet,fcluster
from scipy.cluster import  hierarchy
from sklearn.metrics.pairwise import cosine_distances

#df_jerarquico = df_kmeans.copy()
#D = cosine_distances(df_jerarquico, df_jerarquico)
#Z = hierarchy.linkage(D, "ward")
#threshold = 35
#C = hierarchy.fcluster(Z, threshold, criterion="distance")

In [ ]:
# pd.Series(C).value_counts()

In [ ]:
# df['labels'] = C

In [ ]:
svd_2 = TruncatedSVD(2, random_state=0)
df_transformed_2_dim = svd_2.fit_transform(df_kmeans)

In [ ]:
print(df_transformed_2_dim)

In [ ]:
print(len(df_transformed_2_dim))

In [ ]:
df_transformed_2_dim_reduced = df_transformed_2_dim[400:450]

In [ ]:
print(df.columns.values)

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(11,11))

plt.scatter(df_transformed_2_dim_reduced[:,0], df_transformed_2_dim_reduced[:,1], c=labels_final[50:100], s = 500, alpha = 50, cmap = 'tab20')

for i, txt in enumerate(df.title_original[50:100]):
    ax.annotate(txt, (df_transformed_2_dim_reduced[i,0], df_transformed_2_dim_reduced[i,1]))

In [ ]:
df[df['labels']==3]

In [ ]:
def add_cluster_if_not_present(dataframe, list_clusters_complete):
    
    list_clusters = dataframe['labels'].unique()
    
    for item in list_clusters_complete:
        
        if item not in list_clusters:
            
            dataframe = dataframe.append({'labels': item, 'frecuency': 0}, ignore_index=True)
            
    return dataframe

In [ ]:
# ===> Aanaliamos que % de las peliculas de cada plataforma pertenecen a cada cluster

def count_clusters(dataframe, name_plataform):

    df_clusters = pd.DataFrame(dataframe['labels'].value_counts())
    
    df_clusters = df_clusters.rename(columns={'labels': 'frecuency'})
    
    df_clusters['labels'] = df_clusters.index
    
    df_clusters = add_cluster_if_not_present(df_clusters, df['labels'].unique())
    
    def number_rows_parent_dataframe(dataframe):
        return len(dataframe.index)

    def cluster_porcentage(value, dataframe=dataframe):
        return value/number_rows_parent_dataframe(dataframe)*100
    
    name_column = 'percentage_clusters_' + name_plataform 
    
    df_clusters[name_column] = df_clusters['frecuency'].apply(cluster_porcentage)

    return df_clusters

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma HBO

df_hbo = pd.merge(df_hbo, df[['id', 'labels']], on='id', how='left')

In [ ]:
df_hbo.head(2)

In [ ]:
clusters_hbo = count_clusters(df_hbo, 'hbo')
count_clusters(df_hbo, 'hbo').head(2)

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma Claro

df_claro = pd.merge(df_claro, df[['id', 'labels']], on='id', how='left')

In [ ]:
df_claro.head(2)

In [ ]:
clusters_claro = count_clusters(df_claro, 'claro')
count_clusters(df_claro, 'claro').head(2)

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma Sony

df_sony = pd.merge(df_sony, df[['id', 'labels']], on='id', how='left')

In [ ]:
clusters_sony = count_clusters(df_sony, 'sony')

count_clusters(df_sony, 'sony').head(2)

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma Netflix

df_netflix = pd.merge(df_netflix, df[['id', 'labels']], on='id', how='left')

In [ ]:
clusters_netflix = count_clusters(df_netflix, 'netflix')

count_clusters(df_netflix, 'netflix').head(2)

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma Flow

df_flow = pd.merge(df_flow, df[['id', 'labels']], on='id', how='left')

In [ ]:
clusters_flow = count_clusters(df_flow, 'flow')

count_clusters(df_flow, 'flow').head(2)

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma Amazon

df_amazon = pd.merge(df_amazon, df[['id', 'labels']], on='id', how='left')

In [ ]:
clusters_amazon = count_clusters(df_amazon, 'amazon')

count_clusters(df_amazon, 'amazon').head(2)

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma On Video

df_on_video = pd.merge(df_on_video, df[['id', 'labels']], on='id', how='left')

In [ ]:
clusters_on_video = count_clusters(df_on_video, 'on_video')

count_clusters(df_on_video, 'on_video').head(2)

In [ ]:
# ===> Agregamos las etiquetas de clusters a la plataforma Fox

df_fox = pd.merge(df_fox, df[['id', 'labels']], on='id', how='left')

In [ ]:
clusters_fox = count_clusters(df_fox, 'fox')

count_clusters(df_fox, 'fox').head(2)

In [ ]:
df_clusters_final = pd.merge(clusters_hbo[['labels', 'percentage_clusters_hbo']], clusters_claro[['labels', 'percentage_clusters_claro']], on='labels', how='left')

In [ ]:
df_clusters_final.head(2)

In [ ]:
df_clusters_final = pd.merge(df_clusters_final, clusters_sony[['labels', 'percentage_clusters_sony']], on='labels', how='left')

In [ ]:
df_clusters_final = pd.merge(df_clusters_final, clusters_netflix[['labels', 'percentage_clusters_netflix']], on='labels', how='left')

In [ ]:
df_clusters_final = pd.merge(df_clusters_final, clusters_flow[['labels', 'percentage_clusters_flow']], on='labels', how='left')

In [ ]:
df_clusters_final = pd.merge(df_clusters_final, clusters_amazon[['labels', 'percentage_clusters_amazon']], on='labels', how='left')

In [ ]:
df_clusters_final = pd.merge(df_clusters_final, clusters_on_video[['labels', 'percentage_clusters_on_video']], on='labels', how='left')

In [ ]:
df_clusters_final = pd.merge(df_clusters_final, clusters_fox[['labels', 'percentage_clusters_fox']], on='labels', how='left')

In [ ]:
df_clusters_final.head(2)

In [ ]:
print(df_clusters_final['labels'].values)

In [ ]:
df_clusters_final_transpose = df_clusters_final[['percentage_clusters_hbo',	'percentage_clusters_claro',	'percentage_clusters_sony',	'percentage_clusters_netflix'	,'percentage_clusters_flow',	'percentage_clusters_amazon',	'percentage_clusters_on_video',	'percentage_clusters_fox']].transpose()

In [ ]:
df_clusters_final_transpose.columns = df_clusters_final['labels'].values

In [ ]:
df_clusters_final_transpose.head(2)

In [ ]:
df_numpy_array_platforms = df_clusters_final_transpose.values

In [ ]:
print(df_numpy_array_platforms)

In [ ]:
# ===> Graficamos las 8 plataformas en un espacio de dos dimensiones

from sklearn.manifold import TSNE

tsne = TSNE(n_components=2, perplexity=10, metric = 'cosine', random_state=0)
#tsne = TSNE(perplexity = 10, metric='precomputed', random_state = 12)

result = tsne.fit_transform(df_numpy_array_platforms)

In [ ]:
platforms = ['HBO', 'Claro', 'Sony', 'Netflix', 'Flow', 'Amazon', 'On Video', 'Fox']

In [ ]:
import matplotlib.pyplot as plt

# ===> La forma que se genera parece demasiado simetrica. Es raro, no?

fig, ax = plt.subplots(figsize=(10,10))

plt.scatter(result[:,0], result[:,1])

for i, txt in enumerate(platforms):
    ax.annotate(txt, (result[i,0], result[i,1]))

In [ ]:
from sklearn.decomposition import TruncatedSVD
svd = TruncatedSVD(2, random_state=0)
clusters_transformed = svd.fit_transform(df_numpy_array_platforms)

In [ ]:
print(clusters_transformed)

In [ ]:
fig, ax = plt.subplots(figsize=(10,10))

plt.scatter(clusters_transformed[:,0], clusters_transformed[:,1], s=100)

for i, txt in enumerate(platforms):
    ax.annotate(txt, (clusters_transformed[i,0], clusters_transformed[i,1]))

In [ ]:
df_clusters_final_transpose

In [ ]:
df_clusters_final.head(2)

In [ ]:
df_clusters_final_comparison = df_clusters_final.copy()

In [ ]:
df_clusters_final_comparison['claro_on_video'] =  (df_clusters_final_comparison['percentage_clusters_on_video'] - df_clusters_final_comparison['percentage_clusters_claro'])/df_clusters_final_comparison['percentage_clusters_claro']*100

In [ ]:
df_clusters_final_comparison['claro_on_video']

In [ ]:
import seaborn as sns

df_clusters_final_comparison.sort_values(by='claro_on_video', ascending=False).plot("labels", "claro_on_video", kind="barh", color=sns.color_palette("deep", 1), figsize=(9,9))

In [ ]:
df_clusters_final_comparison['claro_netflix'] = (df_clusters_final_comparison['percentage_clusters_netflix'] - df_clusters_final_comparison['percentage_clusters_claro'])/df_clusters_final_comparison['percentage_clusters_claro']*100

In [ ]:
# ===> Ahora bien, Claro y Flow parece que son muy parecidas, pero puede eso deberse a que tienen mas o menos las mismas peliculas?
# ===> Primero analicemos cuantas peliculas tiene cada plataforma

print(len(df_on_video.index))
print(len(df_claro.index))

In [ ]:
df_similitud_claro_flow = pd.merge(df_claro, df_on_video, on='id', how='inner')

In [ ]:
print(len(df_similitud_claro_flow))

In [ ]:
# ===> Se observa que para 5 clusters Claro tiene peliculas, mientras Netflix no.
# ===> A su vez, para los clsuters 13 y 4 Netflix tiene varias veces mas contenido que Claro
# ===> Otra forma de ver esto es que el peso de cierto tipo de contenido en la oferta de contenidos de Netflix
# ===> es mucho mas importante que en Claro

df_clusters_final_comparison.sort_values(by='claro_netflix', ascending=False).plot("labels", "claro_netflix", kind="barh", color=sns.color_palette("deep", 1),figsize=(8,8))

In [ ]:
# ===> Funciones que nos van a permitir realizar words clouds a partir de agregar palabras de un atributo especifico
# ===> (genero, actores, etc) de las peliculas de un cluster

import matplotlib.pyplot as plt
from wordcloud import WordCloud
from collections import Counter

def remove_one_from_word(dict):
    
    new_dict = dict.copy()
    
    for key, value in new_dict.items():
        
        new_dict[key] = new_dict[key] - 1
    
    return new_dict

def remove_single_items(dictionary): 
    
    main_dict = remove_one_from_word(dictionary)
    
    new_dict = {}
    
    for key, value in main_dict.items(): 

        if main_dict[key] > 0:
            new_dict[key] = main_dict[key]

    return new_dict
        
def word_cloud_words_cluster(dataframe, label, attribute):
    
    array_words = []
    
    dataframe_filter = dataframe[dataframe['labels']==label]
    
    for item in dataframe_filter[attribute]:
        
        array_words = array_words + item
    
    word_counter = Counter(array_words)
    
    words_not_unique = remove_single_items(word_counter)
    
    wordcloud = WordCloud( background_color='white').generate_from_frequencies(words_not_unique)

    # Display the generated image:
    plt.imshow(wordcloud, interpolation='bilinear')
    plt.axis("off")
    plt.show()